Alces alces.shx
Ammotragus lervia.dbf
Ammotragus lervia.prj
Ammotragus lervia.shp
Ammotragus lervia.shx
Antilope cervicapra.dbf
Antilope cervicapra.prj
Antilope cervicapra.shp
Antilope cervicapra.shx
Apodemus sylvaticus.dbf
Apodemus sylvaticus.prj
Apodemus sylvaticus.shp
Apodemus sylvaticus.shx
Atelerix algirus.dbf
Atelerix algirus.prj
Atelerix algirus.shp
Atelerix algirus.shx
Atlantoxerus getulus.dbf
Atlantoxerus getulus.prj
Atlantoxerus getulus.shp
Atlantoxerus getulus.shx
Axis axis.dbf
Axis axis.prj
Axis axis.shp
Axis axis.shx
Axis porcinus.dbf
Axis porcinus.prj
Axis porcinus.shp
Axis porcinus.shx
Babyrousa babyrussa.dbf
Babyrousa babyrussa.prj
Babyrousa babyrussa.shp
Babyrousa babyrussa.shx
Bandicota indica.dbf
Bandicota indica.prj
Bandicota indica.shp
Bandicota indica.shx
Beatragus hunteri.dbf
Beatragus hunteri.prj
Beatragus hunteri.shp
Beatragus hunteri.shx
Bettongia lesueur.dbf
Bettongia lesueur.prj
Bettongia lesueur.shp
Bettongia lesueur.shx
Bettongia penicillata.dbf
Bettongia penicillata.prj
Bettongia penicillata.shp
Bettongia penicillata.shx
Bison bison.dbf
Bison bison.prj
Bison bison.shp
Bison bison.shx
Bos javanicus.dbf
Bos javanicus.prj
Bos javanicus.shp
Bos javanicus.shx
Boselaphus tragocamelus.dbf
Boselaphus tragocamelus.prj
Boselaphus tragocamelus.shp
Boselaphus tragocamelus.shx
Bubalus bubalis.dbf
Bubalus bubalis.prj
Bubalus bubalis.shp
Bubalus bubalis.shx
Callithrix geoffroyi.dbf
Callithrix geoffroyi.prj
Callithrix geoffroyi.shp
Callithrix geoffroyi.shx
Callithrix jacchus.dbf
Callithrix jacchus.prj
Callithrix jacchus.shp
Callithrix jacchus.shx
Callithrix penicillata.dbf
Callithrix penicillata.prj
Callithrix penicillata.shp
Callithrix penicillata.shx
Callosciurus erythraeus.dbf
Callosciurus erythraeus.prj
Callosciurus erythraeus.shp
Callosciurus erythraeus.shx
Callosciurus finlaysonii.dbf
Callosciurus finlaysonii.prj
Callosciurus finlaysonii.shp
Callosciurus finlaysonii.shx
Callosciurus notatus.dbf
Callosciurus notatus.prj
Callosciurus notatus.shp
Callosciurus notatus.shx
Callosciurus prevostii.dbf
Callosciurus prevostii.prj
Callosciurus prevostii.shp
Callosciurus prevostii.shx
Camelus dromedarius.dbf
Camelus dromedarius.prj
Camelus dromedarius.shp
Camelus dromedarius.shx
Capra aegagrus.dbf
Capra aegagrus.prj
Capra aegagrus.shp
Capra aegagrus.shx
Capra ibex.dbf
Capra ibex.prj
Capra ibex.shp
Capra ibex.shx
Capra sibirica.dbf
Capra sibirica.prj
Capra sibirica.shp
Capra sibirica.shx
Capreolus capreolus.dbf
Capreolus capreolus.prj
Capreolus capreolus.shp
Capreolus capreolus.shx
Capreolus pygargus.dbf
Capreolus pygargus.prj
Capreolus pygargus.shp
Capreolus pygargus.shx
Castor canadensis.dbf
Castor canadensis.prj
Castor canadensis.shp
Castor canadensis.shx
Castor fiber.dbf
Castor fiber.prj
Castor fiber.shp
Castor fiber.shx
Cephalophus adersi.dbf
Cephalophus adersi.prj
Cephalophus adersi.shp
Cephalophus adersi.shx
Cercopithecus mona.dbf
Cercopithecus mona.prj
Cercopithecus mona.shp
Cercopithecus mona.shx
Cervus canadensis.dbf
Cervus canadensis.prj
Cervus canadensis.shp
Cervus canadensis.shx
Cervus elaphus.dbf
Cervus elaphus.prj
Cervus elaphus.shp
Cervus elaphus.shx
Cervus nippon.dbf
Cervus nippon.prj
Cervus nippon.shp
Cervus nippon.shx
Chaetophractus villosus.dbf
Chaetophractus villosus.prj
Chaetophractus villosus.shp
Chaetophractus villosus.shx
Chlorocebus sabaeus.dbf
Chlorocebus sabaeus.prj
Chlorocebus sabaeus.shp
Chlorocebus sabaeus.shx
Civettictis civetta.dbf
Civettictis civetta.prj
Civettictis civetta.shp
Civettictis civetta.shx
Connochaetes taurinus.dbf
Connochaetes taurinus.prj
Connochaetes taurinus.shp
Connochaetes taurinus.shx
Cricetomys gambianus.dbf
Cricetomys gambianus.prj
Cricetomys gambianus.shp
Cricetomys gambianus.shx
Crocidura dsinezumi.dbf
Crocidura dsinezumi.prj
Crocidura dsinezumi.shp
Crocidura dsinezumi.shx
Crocidura maxi.dbf
Crocidura maxi.prj
Crocidura maxi.shp
Crocidura maxi.shx
Crocidura monticola.dbf
Crocidura monticola.prj
Crocidura monticola.shp
Crocidura monticola.shx
Crocidura pachyura.dbf
Crocidura pachyura.prj
Crocidura pachyura.shp
Crocidura pachyura.shx
Crocidura russula.dbf
Crocidura russula.prj
Crocidura russula.shp
Crocidura russula.shx
Crocidura suaveolens.dbf
Crocidura suaveolens.prj
Crocidura suaveolens.shp
Crocidura suaveolens.shx
Cuniculus paca.dbf
Cuniculus paca.prj
Cuniculus paca.shp
Cuniculus paca.shx
DAMA_GADM.csv
DAMA_table.csv
Dama dama.dbf
Dama dama.prj
Dama dama.shp
Dama dama.shx
Dasyprocta leporina.dbf
Dasyprocta leporina.prj
Dasyprocta leporina.shp
Dasyprocta leporina.shx
Dasyprocta mexicana.dbf
Dasyprocta mexicana.prj
Dasyprocta mexicana.shp
Dasyprocta mexicana.shx
Dasyprocta punctata.dbf
Dasyprocta punctata.prj
Dasyprocta punctata.shp
Dasyprocta punctata.shx
Dasypus novemcinctus.dbf
Dasypus novemcinctus.prj
Dasypus novemcinctus.shp
Dasypus novemcinctus.shx
Dasyurus hallucatus.dbf
Dasyurus hallucatus.prj
Dasyurus hallucatus.shp
Dasyurus hallucatus.shx
Daubentonia madagascariensis.dbf
Daubentonia madagascariensis.prj
Daubentonia madagascariensis.shp
Daubentonia madagascariensis.shx
Dendrolagus matschiei.dbf
Dendrolagus matschiei.prj
Dendrolagus matschiei.shp
Dendrolagus matschiei.shx
Desmana moschata.dbf
Desmana moschata.prj
Desmana moschata.shp
Desmana moschata.shx
Didelphis aurita.dbf
Didelphis aurita.prj
Didelphis aurita.shp
Didelphis aurita.shx
Didelphis marsupialis.dbf
Didelphis marsupialis.prj
Didelphis marsupialis.shp
Didelphis marsupialis.shx
Didelphis virginiana.dbf
Didelphis virginiana.prj
Didelphis virginiana.shp
Didelphis virginiana.shx
Elephas maximus.dbf
Elephas maximus.prj
Elephas maximus.shp
Elephas maximus.shx
Eliomys quercinus.dbf
Eliomys quercinus.prj
Eliomys quercinus.shp
Eliomys quercinus.shx
Erinaceus europaeus.dbf
Erinaceus europaeus.prj
Erinaceus europaeus.shp
Erinaceus europaeus.shx
Erinaceus roumanicus.dbf
Erinaceus roumanicus.prj
Erinaceus roumanicus.shp
Erinaceus roumanicus.shx
Erythrocebus patas.dbf
Erythrocebus patas.prj
Erythrocebus patas.shp
Erythrocebus patas.shx
Eulemur albifrons.dbf
Eulemur albifrons.prj
Eulemur albifrons.shp
Eulemur albifrons.shx
Eulemur fulvus.dbf
Eulemur fulvus.prj
Eulemur fulvus.shp
Eulemur fulvus.shx
Eulemur mongoz.dbf
Eulemur mongoz.prj
Eulemur mongoz.shp
Eulemur mongoz.shx
Eutamias sibiricus.dbf
Eutamias sibiricus.prj
Eutamias sibiricus.shp
Eutamias sibiricus.shx
Funambulus pennantii.dbf
Funambulus pennantii.prj
Funambulus pennantii.shp
Funambulus pennantii.shx
Gazella subgutturosa.dbf
Gazella subgutturosa.prj
Gazella subgutturosa.shp
Gazella subgutturosa.shx
Genetta genetta.dbf
Genetta genetta.prj
Genetta genetta.shp
Genetta genetta.shx
Geocapromys ingrahami.dbf
Geocapromys ingrahami.prj
Geocapromys ingrahami.shp
Geocapromys ingrahami.shx
Glis glis.dbf
Glis glis.prj
Glis glis.shp
Glis glis.shx
Hemitragus jemlahicus.dbf
Hemitragus jemlahicus.prj
Hemitragus jemlahicus.shp
Hemitragus jemlahicus.shx
Herpestes auropunctatus.dbf
Herpestes auropunctatus.prj
Herpestes auropunctatus.shp
Herpestes auropunctatus.shx
Herpestes edwardsii.dbf
Herpestes edwardsii.prj
Herpestes edwardsii.shp
Herpestes edwardsii.shx
Herpestes fuscus.dbf
Herpestes fuscus.prj
Herpestes fuscus.shp
Herpestes fuscus.shx
Hippopotamus amphibius.dbf
Hippopotamus amphibius.prj
Hippopotamus amphibius.shp
Hippopotamus amphibius.shx
Hydrochoerus hydrochaeris.dbf
Hydrochoerus hydrochaeris.prj
Hydrochoerus hydrochaeris.shp
Hydrochoerus hydrochaeris.shx
Hydropotes inermis.dbf
Hydropotes inermis.prj
Hydropotes inermis.shp
Hydropotes inermis.shx
Hystrix cristata.dbf
Hystrix cristata.prj
Hystrix cristata.shp
Hystrix cristata.shx
Hystrix javanica.dbf
Hystrix javanica.prj
Hystrix javanica.shp
Hystrix javanica.shx
Isoodon obesulus.dbf
Isoodon obesulus.prj
Isoodon obesulus.shp
Isoodon obesulus.shx
Lagorchestes hirsutus.dbf
Lagorchestes hirsutus.prj
Lagorchestes hirsutus.shp
Lagorchestes hirsutus.shx
Lagostrophus fasciatus.dbf
Lagostrophus fasciatus.prj
Lagostrophus fasciatus.shp
Lagostrophus fasciatus.shx
Lama glama.dbf
Lama glama.prj
Lama glama.shp
Lama glama.shx
Lama guanicoe.dbf
Lama guanicoe.prj
Lama guanicoe.shp
Lama guanicoe.shx
Lasiorhinus latifrons.dbf
Lasiorhinus latifrons.prj
Lasiorhinus latifrons.shp
Lasiorhinus latifrons.shx
Leggadina lakedownensis.dbf
Leggadina lakedownensis.prj
Leggadina lakedownensis.shp
Leggadina lakedownensis.shx
Leporillus conditor.dbf
Leporillus conditor.prj
Leporillus conditor.shp
Leporillus conditor.shx
Lepus americanus.dbf
Lepus americanus.prj
Lepus americanus.shp
Lepus americanus.shx
Lepus arcticus.dbf
Lepus arcticus.prj
Lepus arcticus.shp
Lepus arcticus.shx
Lepus californicus.dbf
Lepus californicus.prj
Lepus californicus.shp
Lepus californicus.shx
Lepus capensis.dbf
Lepus capensis.prj
Lepus capensis.shp
Lepus capensis.shx
Lepus corsicanus.dbf
Lepus corsicanus.prj
Lepus corsicanus.shp
Lepus corsicanus.shx
Lepus europaeus.dbf
Lepus europaeus.prj
Lepus europaeus.shp
Lepus europaeus.shx
Lepus granatensis.dbf
Lepus granatensis.prj
Lepus granatensis.shp
Lepus granatensis.shx
Lepus nigricollis.dbf
Lepus nigricollis.prj
Lepus nigricollis.shp
Lepus nigricollis.shx
Lepus timidus.dbf
Lepus timidus.prj
Lepus timidus.shp
Lepus timidus.shx
Lycalopex griseus.dbf
Lycalopex griseus.prj
Lycalopex griseus.shp
Lycalopex griseus.shx
Macaca arctoides.dbf
Macaca arctoides.prj
Macaca arctoides.shp
Macaca arctoides.shx
Macaca cyclopis.dbf
Macaca cyclopis.prj
Macaca cyclopis.shp
Macaca cyclopis.shx
Macaca fascicularis.dbf
Macaca fascicularis.prj
Macaca fascicularis.shp
Macaca fascicularis.shx
Macaca leonina.dbf
Macaca leonina.prj
Macaca leonina.shp
Macaca leonina.shx
Macaca mulatta.dbf
Macaca mulatta.prj
Macaca mulatta.shp
Macaca mulatta.shx
Macaca nemestrina.dbf
Macaca nemestrina.prj
Macaca nemestrina.shp
Macaca nemestrina.shx
Macaca nigra.dbf
Macaca nigra.prj
Macaca nigra.shp
Macaca nigra.shx
Macaca sylvanus.dbf
Macaca sylvanus.prj
Macaca sylvanus.shp
Macaca sylvanus.shx
Macropus agilis.dbf
Macropus agilis.prj
Macropus agilis.shp
Macropus agilis.shx
Macropus eugenii.dbf
Macropus eugenii.prj
Macropus eugenii.shp
Macropus eugenii.shx
Macropus fuliginosus.dbf
Macropus fuliginosus.prj
Macropus fuliginosus.shp
Macropus fuliginosus.shx
Macropus giganteus.dbf
Macropus giganteus.prj
Macropus giganteus.shp
Macropus giganteus.shx
Macropus parma.dbf
Macropus parma.prj
Macropus parma.shp
Macropus parma.shx
Macropus rufogriseus.dbf
Macropus rufogriseus.prj
Macropus rufogriseus.shp
Macropus rufogriseus.shx
Manis culionensis.dbf
Manis culionensis.prj
Manis culionensis.shp
Manis culionensis.shx
Marmota bobak.dbf
Marmota bobak.prj
Marmota bobak.shp
Marmota bobak.shx
Marmota marmota.dbf
Marmota marmota.prj
Marmota marmota.shp
Marmota marmota.shx
Martes americana.dbf
Martes americana.prj
Martes americana.shp
Martes americana.shx
Martes foina.dbf
Martes foina.prj
Martes foina.shp
Martes foina.shx
Martes martes.dbf
Martes martes.prj
Martes martes.shp
Martes martes.shx
Martes melampus.dbf
Martes melampus.prj
Martes melampus.shp
Martes melampus.shx
Martes zibellina.dbf
Martes zibellina.prj
Martes zibellina.shp
Martes zibellina.shx
Meles meles.dbf
Meles meles.prj
Meles meles.shp
Meles meles.shx
Micromys minutus.dbf
Micromys minutus.prj
Micromys minutus.shp
Micromys minutus.shx
Microtus arvalis.dbf
Microtus arvalis.prj
Microtus arvalis.shp
Microtus arvalis.shx
Microtus californicus.dbf
Microtus californicus.prj
Microtus californicus.shp
Microtus californicus.shx
Microtus levis.dbf
Microtus levis.prj
Microtus levis.shp
Microtus levis.shx
Muntiacus muntjak.dbf
Muntiacus muntjak.prj
Muntiacus muntjak.shp
Muntiacus muntjak.shx
Muntiacus reevesi.dbf
Muntiacus reevesi.prj
Muntiacus reevesi.shp
Muntiacus reevesi.shx
Mus caroli.dbf
Mus caroli.prj
Mus caroli.shp
Mus caroli.shx
Mus spretus.dbf
Mus spretus.prj
Mus spretus.shp
Mus spretus.shx
Mus terricolor.dbf
Mus terricolor.prj
Mus terricolor.shp
Mus terricolor.shx
Mustela erminea.dbf
Mustela erminea.prj
Mustela erminea.shp
Mustela erminea.shx
Mustela itatsi.dbf
Mustela itatsi.prj
Mustela itatsi.shp
Mustela itatsi.shx
Mustela lutreola.dbf
Mustela lutreola.prj
Mustela lutreola.shp
Mustela lutreola.shx
Mustela nivalis.dbf
Mustela nivalis.prj
Mustela nivalis.shp
Mustela nivalis.shx
Mustela putorius.dbf
Mustela putorius.prj
Mustela putorius.shp
Mustela putorius.shx
Mustela sibirica.dbf
Mustela sibirica.prj
Mustela sibirica.shp
Mustela sibirica.shx
Myocastor coypus.dbf
Myocastor coypus.prj
Myocastor coypus.shp
Myocastor coypus.shx
Myodes gapperi.dbf
Myodes gapperi.prj
Myodes gapperi.shp
Myodes gapperi.shx
Myodes glareolus.dbf
Myodes glareolus.prj
Myodes glareolus.shp
Myodes glareolus.shx
Myodes rutilus.dbf
Myodes rutilus.prj
Myodes rutilus.shp
Myodes rutilus.shx
Nanger soemmerringii.dbf
Nanger soemmerringii.prj
Nanger soemmerringii.shp
Nanger soemmerringii.shx
Nasua nasua.dbf
Nasua nasua.prj
Nasua nasua.shp
Nasua nasua.shx
Neovison vison.dbf
Neovison vison.prj
Neovison vison.shp
Neovison vison.shx
Nyctereutes procyonoides.dbf
Nyctereutes procyonoides.prj
Nyctereutes procyonoides.shp
Nyctereutes procyonoides.shx
Odocoileus hemionus.dbf
Odocoileus hemionus.prj
Odocoileus hemionus.shp
Odocoileus hemionus.shx
Odocoileus virginianus.dbf
Odocoileus virginianus.prj
Odocoileus virginianus.shp
Odocoileus virginianus.shx
Ondatra zibethicus.dbf
Ondatra zibethicus.prj
Ondatra zibethicus.shp
Ondatra zibethicus.shx
Oreamnos americanus.dbf
Oreamnos americanus.prj
Oreamnos americanus.shp
Oreamnos americanus.shx
Ornithorhynchus anatinus.dbf
Ornithorhynchus anatinus.prj
Ornithorhynchus anatinus.shp
Ornithorhynchus anatinus.shx
Oryctolagus cuniculus.dbf
Oryctolagus cuniculus.prj
Oryctolagus cuniculus.shp
Oryctolagus cuniculus.shx
Oryx gazella.dbf
Oryx gazella.prj
Oryx gazella.shp
Oryx gazella.shx
Ovibos moschatus.dbf
Ovibos moschatus.prj
Ovibos moschatus.shp
Ovibos moschatus.shx
Ovis canadensis.dbf
Ovis canadensis.prj
Ovis canadensis.shp
Ovis canadensis.shx
Ovis orientalis.dbf
Ovis orientalis.prj
Ovis orientalis.shp
Ovis orientalis.shx
Paguma larvata.dbf
Paguma larvata.prj
Paguma larvata.shp
Paguma larvata.shx
Paradoxurus hermaphroditus.dbf
Paradoxurus hermaphroditus.prj
Paradoxurus hermaphroditus.shp
Paradoxurus hermaphroditus.shx
Parantechinus apicalis.dbf
Parantechinus apicalis.prj
Parantechinus apicalis.shp
Parantechinus apicalis.shx
Peromyscus fraterculus.dbf
Peromyscus fraterculus.prj
Peromyscus fraterculus.shp
Peromyscus fraterculus.shx
Peromyscus maniculatus.dbf
Peromyscus maniculatus.prj
Peromyscus maniculatus.shp
Peromyscus maniculatus.shx
Petaurus breviceps.dbf
Petaurus breviceps.prj
Petaurus breviceps.shp
Petaurus breviceps.shx
Petrogale lateralis.dbf
Petrogale lateralis.prj
Petrogale lateralis.shp
Petrogale lateralis.shx
Petrogale penicillata.dbf
Petrogale penicillata.prj
Petrogale penicillata.shp
Petrogale penicillata.shx
Petrogale persephone.dbf
Petrogale persephone.prj
Petrogale persephone.shp
Petrogale persephone.shx
Petrogale rothschildi.dbf
Petrogale rothschildi.prj
Petrogale rothschildi.shp
Petrogale rothschildi.shx
Phalanger orientalis.dbf
Phalanger orientalis.prj
Phalanger orientalis.shp
Phalanger orientalis.shx
Phascolarctos cinereus.dbf
Phascolarctos cinereus.prj
Phascolarctos cinereus.shp
Phascolarctos cinereus.shx
Piliocolobus kirkii.dbf
Piliocolobus kirkii.prj
Piliocolobus kirkii.shp
Piliocolobus kirkii.shx
Potamochoerus larvatus.dbf
Potamochoerus larvatus.prj
Potamochoerus larvatus.shp
Potamochoerus larvatus.shx
Potorous gilbertii.dbf
Potorous gilbertii.prj
Potorous gilbertii.shp
Potorous gilbertii.shx
Procyon lotor.dbf
Procyon lotor.prj
Procyon lotor.shp
Procyon lotor.shx
Pseudocheirus peregrinus.dbf
Pseudocheirus peregrinus.prj
Pseudocheirus peregrinus.shp
Pseudocheirus peregrinus.shx
Pseudomys fieldi.dbf
Pseudomys fieldi.prj
Pseudomys fieldi.shp
Pseudomys fieldi.shx
Rangifer tarandus.dbf
Rangifer tarandus.prj
Rangifer tarandus.shp
Rangifer tarandus.shx
Rattus argentiventer.dbf
Rattus argentiventer.prj
Rattus argentiventer.shp
Rattus argentiventer.shx
Rattus exulans.dbf
Rattus exulans.prj
Rattus exulans.shp
Rattus exulans.shx
Rattus nitidus.dbf
Rattus nitidus.prj
Rattus nitidus.shp
Rattus nitidus.shx
Rattus praetor.dbf
Rattus praetor.prj
Rattus praetor.shp
Rattus praetor.shx
Rattus tanezumi.dbf
Rattus tanezumi.prj
Rattus tanezumi.shp
Rattus tanezumi.shx
Rupicapra rupicapra.dbf
Rupicapra rupicapra.prj
Rupicapra rupicapra.shp
Rupicapra rupicapra.shx
Rusa marianna.dbf
Rusa marianna.prj
Rusa marianna.shp
Rusa marianna.shx
Rusa timorensis.dbf
Rusa timorensis.prj
Rusa timorensis.shp
Rusa timorensis.shx
Rusa unicolor.dbf
Rusa unicolor.prj
Rusa unicolor.shp
Rusa unicolor.shx
Saguinus oedipus.dbf
Saguinus oedipus.prj
Saguinus oedipus.shp
Saguinus oedipus.shx
Saimiri sciureus.dbf
Saimiri sciureus.prj
Saimiri sciureus.shp
Saimiri sciureus.shx
Sapajus apella.dbf
Sapajus apella.prj
Sapajus apella.shp
Sapajus apella.shx
Sapajus nigritus.dbf
Sapajus nigritus.prj
Sapajus nigritus.shp
Sapajus nigritus.shx
Sarcophilus harrisii.dbf
Sarcophilus harrisii.prj
Sarcophilus harrisii.shp
Sarcophilus harrisii.shx
Sciurus aberti.dbf
Sciurus aberti.prj
Sciurus aberti.shp
Sciurus aberti.shx
Sciurus anomalus.dbf
Sciurus anomalus.prj
Sciurus anomalus.shp
Sciurus anomalus.shx
Sciurus aureogaster.dbf
Sciurus aureogaster.prj
Sciurus aureogaster.shp
Sciurus aureogaster.shx
Sciurus carolinensis.dbf
Sciurus carolinensis.prj
Sciurus carolinensis.shp
Sciurus carolinensis.shx
Sciurus granatensis.dbf
Sciurus granatensis.prj
Sciurus granatensis.shp
Sciurus granatensis.shx
Sciurus niger.dbf
Sciurus niger.prj
Sciurus niger.shp
Sciurus niger.shx
Sciurus stramineus.dbf
Sciurus stramineus.prj
Sciurus stramineus.shp
Sciurus stramineus.shx
Sciurus vulgaris.dbf
Sciurus vulgaris.prj
Sciurus vulgaris.shp
Sciurus vulgaris.shx
Semnopithecus entellus.dbf
Semnopithecus entellus.prj
Semnopithecus entellus.shp
Semnopithecus entellus.shx
Sorex cinereus.dbf
Sorex cinereus.prj
Sorex cinereus.shp
Sorex cinereus.shx
Spilocuscus maculatus.dbf
Spilocuscus maculatus.prj
Spilocuscus maculatus.shp
Spilocuscus maculatus.shx
Suncus etruscus.dbf
Suncus etruscus.prj
Suncus etruscus.shp
Suncus etruscus.shx
Suncus murinus.dbf
Suncus murinus.prj
Suncus murinus.shp
Suncus murinus.shx
Sundasciurus juvencus.dbf
Sundasciurus juvencus.prj
Sundasciurus juvencus.shp
Sundasciurus juvencus.shx
Sus celebensis.dbf
Sus celebensis.prj
Sus celebensis.shp
Sus celebensis.shx
Sylvilagus floridanus.dbf
Sylvilagus floridanus.prj
Sylvilagus floridanus.shp
Sylvilagus floridanus.shx
Tachyglossus aculeatus.dbf
Tachyglossus aculeatus.prj
Tachyglossus aculeatus.shp
Tachyglossus aculeatus.shx
Tamandua tetradactyla.dbf
Tamandua tetradactyla.prj
Tamandua tetradactyla.shp
Tamandua tetradactyla.shx
Tamias striatus.dbf
Tamias striatus.prj
Tamias striatus.shp
Tamias striatus.shx
Tamiasciurus hudsonicus.dbf
Tamiasciurus hudsonicus.prj
Tamiasciurus hudsonicus.shp
Tamiasciurus hudsonicus.shx
Tenrec ecaudatus.dbf
Tenrec ecaudatus.prj
Tenrec ecaudatus.shp
Tenrec ecaudatus.shx
Thylogale billardierii.dbf
Thylogale billardierii.prj
Thylogale billardierii.shp
Thylogale billardierii.shx
Thylogale browni.dbf
Thylogale browni.prj
Thylogale browni.shp
Thylogale browni.shx
Thylogale brunii.dbf
Thylogale brunii.prj
Thylogale brunii.shp
Thylogale brunii.shx
Trachypithecus auratus.dbf
Trachypithecus auratus.prj
Trachypithecus auratus.shp
Trachypithecus auratus.shx
Tragelaphus angasii.dbf
Tragelaphus angasii.prj
Tragelaphus angasii.shp
Tragelaphus angasii.shx
Tragelaphus derbianus.dbf
Tragelaphus derbianus.prj
Tragelaphus derbianus.shp
Tragelaphus derbianus.shx
Tragulus nigricans.dbf
Tragulus nigricans.prj
Tragulus nigricans.shp
Tragulus nigricans.shx
Trichosurus vulpecula.dbf
Trichosurus vulpecula.prj
Trichosurus vulpecula.shp
Trichosurus vulpecula.shx
Urocitellus parryii.dbf
Urocitellus parryii.prj
Urocitellus parryii.shp
Urocitellus parryii.shx
Varecia variegata.dbf
Varecia variegata.prj
Varecia variegata.shp
Varecia variegata.shx
Vicugna vicugna.dbf
Vicugna vicugna.prj
Vicugna vicugna.shp
Vicugna vicugna.shx
Viverra tangalunga.dbf
Viverra tangalunga.prj
Viverra tangalunga.shp
Viverra tangalunga.shx
Viverra zibetha.dbf
Viverra zibetha.prj
Viverra zibetha.shp
Viverra zibetha.shx
Viverricula indica.dbf
Viverricula indica.prj
Viverricula indica.shp
Viverricula indica.shx
Vombatus ursinus.dbf
Vombatus ursinus.prj
Vombatus ursinus.shp
Vombatus ursinus.shx
Vulpes lagopus.dbf
Vulpes lagopus.prj
Vulpes lagopus.shp
Vulpes lagopus.shx
Vulpes vulpes.dbf
Vulpes vulpes.prj
Vulpes vulpes.shp
Vulpes vulpes.shx
Wallabia bicolor.dbf
Wallabia bicolor.prj
Wallabia bicolor.shp
Wallabia bicolor.shx
Alces alces.shp
Alces alces.dbf
Alces alces.prj
